<mat-toolbar color="primary">
  <button mat-icon-button (click)="close()"><mat-icon>clear</mat-icon></button>
  <span class="dialog-title">Voeg klacht toe</span> 
  <button mat-icon-button [disabled]="!klachtForm.form.valid" (click)="klachtForm.ngSubmit.emit()"><mat-icon>check</mat-icon></button>
</mat-toolbar>

<mat-dialog-content>
  <form #klachtForm="ngForm" (ngSubmit)="addKlacht()">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Categorie" [(ngModel)]="klacht.category" name="categorie" disabled>
    </mat-form-field>

    <mat-form-field class="input-full-width">
      <textarea matInput placeholder="Plaats hier je klacht" [(ngModel)]="klacht.content" name="klacht" autofocus required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>