@import "assets/variables";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width:100%;
}
html{
  background-color:#fafafa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width:1200px;
  margin:0 auto;
  background-color:#fff;
}

.category-button {
  &.mat-fab .mat-button-wrapper {
    padding: 0;
  }
}

.mat-form-field.input-full-width{
  width:100%;
}

.mat-list {
  .mat-list-item-content {
    .mat-divider.mat-divider-horizontal {
      left: 16px;
      right: 16px;
      width: auto;
    }
  }
}

.full-screen-dialog .mat-dialog-container {
  width: 80vw;
  height:80vh;
  padding:0;
  .dialog-title{
    flex:1;
    text-align:center;
  }
  .mat-dialog-content{
    max-height:65vh;
    padding: 16px;
    margin:0;
    overflow:auto;
    display:block;
  }
  .mat-dialog-actions{
    padding: 8px 16px;
  }
}

@media screen and (max-width:850px){
  .cdk-overlay-pane.full-screen-dialog{
    max-width: none !important;
  }
  .full-screen-dialog .mat-dialog-container {
    width: 100vw;
    height:100vh;
  }

  .mat-dialog-container{
    min-width:80vw;
  }
}
